* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 100%;
  height: 70px;
  background-color: #EC715F;
}

.header-box {
  display: flex;
  justify-content: center;
}

.logo {
  width: 512px;
}

.site-logo{
  height: 70px;
}

.nav-list {
  text-align: left;
  width: 512px;
  height: 70px;
}


.nav-list-item {
  font-size: 16px;
  list-style: none;
  display: inline-block;
  margin: 25px 30px;
}

.nav-list-item a {
  color: #FAFAFA;
  text-decoration: none;
}



.main-visual {
  width: 100%;
  height: 650px;
  background-image: url(img/mv.png);
  background-size: 100% 100%;
}

.main-visual-content {
  text-align: center;
  color: #FAFAFA;
  padding-top: 200px;
}

.main-visual-name {
  font-size: 64px;
  padding-bottom: 10px;
}

.main-visual-text {
  font-size: 20px;
}

main {
  width: 100%;
  justify-content: center;
}

#portforio {
  width: 100%;
  background-color: #ECEFF1;
}

.main-box {
  text-align: center;
  padding-top: 90px;
}

.main-name {
  font-size: 32px;
  color: #000000;
}

.border {
  text-align: center;
  margin: 0 auto;
  padding-top: 8px;
  width: 70px;
  border-bottom: 3px solid #EC715F;
}

.main-text {
  font-size: 16px;
  color: #000000;
  padding-top: 30px;
  padding-bottom: 30px;
}


.photo {
  width: 920px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 90px;
 }

.photo-box {
  width: 300px;
  height: 250px;
  background-size: cover;
  background-position: center;
}

.photo-box:nth-child(odd) {
  margin-bottom: 10px;
}

.bg1 {
  background-image: url(img/sketch.jpg);
  margin-right: 10px;
}

.bg2 {
  background-image: url(img/websuku.png);
  margin-right: 10px;
}

.bg3 {
  background-image: url(img/write.jpg);
}

.bg4 {
  background-image: url(img/webcamp.png);
  margin-right: 10px;
}

.bg5 {
  background-image: url(img/talk.jpg);
  margin-right: 10px;
}

.bg6 {
  background-image: url(img/webcamp-mother.png);
}

.feature {
  margin-bottom: 90px;
}

.text {
  width: 980px;
  margin: 0 auto;
  display: flex;
  padding-bottom: 90px;
}

.text-box {
  width: 320px;
  height: auto;
  text-align: center;
  margin: 30px 10px 0 0;
}

.fas {
  font-size: 60px;
}

.text-title {
  font-size: 20px;
  color: #000000;
  text-align: center;
  margin: 10px;
}

.text-contents {
  font-size: 16px;
  color: #000000;
  text-align: left;
}

#profile {
  background-color: #ECEFF1
}

.profile-box {
  width: 1024px;
  margin: 0 auto;
  display: flex;

}

.icon {
  width: 512px;
}

.picture {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin-bottom: 90px;
}

.profile-text {
  width: 512px;
}

.title {
  font-size: 20px;
  color: #000000;
  text-align: left;
  margin: 20px 0 5px 0;
}

.contact-box {
  width: 800px;
  margin: 0 auto 90px auto;
  display: flex;
}

.left {
  width: 400px;
}

.left-box {
  width: 130px;
  margin: 0 auto;
}
.body {
  font-size: 16px;
  color: #000000;
  text-align: left;
}
.right {
  width: 400px;
}

.right-box {
  width: 170px;
  margin: 0 auto;
}

.icon-box {
  width: 170px;
  display: flex;
}

.icon-box .fab {
  font-size: 50px;
  margin-right: 20px;
}

footer {
  width: 100%;
  height: 60px;
  text-align: center;
  line-height: 60px;
  background-color: #EC715F;
}

.footer-text {
  font-size: 16px;
  color: #FAFAFA;
}

@media (max-width: 768px) {
  .header {
    height: 50px;
  }

  .header-box {
    width: 90%;
    margin: 0 auto;
  }

  .site-logo {
    height: 50px;
  }

  .menue {
    width: 40px;
    height: 40px;
    margin-right: 5%;
    border: 1px solid #FAFAFA;
    margin: 5px 0 5px auto;
  }

  .list-bar {
    display: block;
    width: 25px;
    height: 2px;
    margin: 5px auto;
    background-color: #FAFAFA;
  }

  .list-bar:first-child {
    margin-top: 10px;
  }

  .nav-list {
    display: none;
  }


  .main-visual {
    width: 100%;
    height: 650px;
    background-image: url(img/code.png);
    background-size: cover;
    background-position: center;
  }

  .main-visual-name {
    font-size: 40px;
  }

  .main-visual-text {
    font-size: 18px;
  }

  .main-box {
    width: 90%;
    margin: 0 auto;
  }

  .photo {
    width: 300px;
  }

  .photo-box {
    width: 300px;
    height: 250px;
    margin-bottom: 10px;
    margin-right: 0px;
  }

  .sp-none {
    display: none;
  }

  .text {
    width: 320px;
    flex-flow: row wrap;
  }


  .profile-box {
    width: 90%;
    flex-flow: row wrap;
    text-align: center;
    padding-bottom: 90px;
  }

  .picture {
    margin-bottom: 20px;
  }

  .title {
    text-align: center;
  }

  .body {
    text-align: center;
  }

  .contact-box {
    width: 90%;
    flex-flow: row wrap;
    text-align: center;
  }

  .left {
    width: 100%;
  }

  .right {
    width: 100%;
  }

}